body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.place{
	display: inline-block;
	float: right;
}

  #map_canvas {
    width: 100%;
    height: 400px;
    background-color: #CCC;
  }

  .dropdown-toggle {
  	width: 75%;
  	overflow: hidden;
  	text-overflow: ellipsis;
  }